p {color: red; text-transform:capitalize;}
h1 {text-align:left; text-decoration:underline;}
h2 {text-align: right; text-decoration: overline;}
h3 {text-align: center; text-decoration: line-through;}




/*Intro 06
#example {background-color: green; color: fff; width: 500px; height: 200px; padding:10px 20px 30px 30px
}
#example2 {background-color: rgb(40, 143, 146); color: fff; width: 500px; margin: 20px 30px 20px 40px;
}*/
/*#content {
 min-height: 20px; min-width: 500px; background-color:rgb(51, 221, 51); color:#fff; padding: 20px;
}*/


/*Intro 05
.main-text  {
    color: red; text-align: center;
}
.back-main {
    background-color: rgb(103, 187, 187); padding: 20px;
}*/


/*Intro 04
h1,h2,p {color: rgb(97, 96, 96); text-align: center;}
h1 {color: crimson; text-align: center;}
h2 {color: dimgray; text-align: center;}
p {color: rgb(12, 11, 11); text-align: center;}


Intro 03
*{margin: 5px; padding: 0; color:crimson;}
h1{color:aqua; font-size: 40px;}
p{color: green; font-size: 25px;}

Intro 02
input[type="text"]{width: 200px; background-color: rgb(248, 245, 242); height: 40px; border:none;}
input[type="email"]{width: 200px; background-color: rgb(248, 245, 242); height: 40px; border:none;}
input[type="submit"]{width: 50px; background-color: rgb(159, 231, 77); height: 35px; border:none; cursor: pointer; color: blueviolet;}

Intro 01
h1 {color:blue; font-size: 80px; font-family:serif;}*/